.main {
  background-image: url("/images/contact1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.info {
  z-index: 1;
  text-align: left;
  width: 80%;
  text-align: center;
  padding: 1.2rem;
}

@media (max-width: 760px) {
  .info {
    width: 100%;
    padding: 16px;
  }
}

.infoWindow {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 24px;
}

.title {
  color: white;
  font-size: 36px;
  letter-spacing: 0.5px;
}

.subTitle {
  color: rgb(253, 186, 116);
  font-size: 24px;
  margin-bottom: 0.4rem;
}

.description {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.container {
  padding: 20px;
}

.contactHeader {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.card p {
  margin: 5px 0;
}

.email {
  /* color: blue; */
  font-weight: bold;
}

.button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.faq {
  margin-top: 40px;
}

.accordion {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.accordionSummary {
  padding: 10px;
  background: #f7f7f7;
  font-weight: bold;
}

.accordionDetails {
  padding: 10px;
}

.feedback {
  margin-top: 10px;
}

.thumbUp,
.thumbDown {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.expanded .accordionSummary {
  background: #e0e0e0;
}
