/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/brouchers/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_main__Np2O_ {
  background-image: url("/images/cataloge.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}
.page_main__Np2O_::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -0px;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 460px) {
  .page_main__Np2O_ {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
}

