/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/products/page.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
body {
  margin-top: 30px;
}
.product-container {
  display: grid;
  grid-gap: 40px;
  gap: 40px;
  margin: 20px;
}

.product-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.normal-layout {
  flex-direction: row;
}

.reverse-layout {
  flex-direction: row-reverse;
}

.image-wrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.image {
  height: 400px;
  width: 1200px;
}
.image-caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.product-details {
  flex: 1 1;
}

.product-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
}

@media (max-width: 768px) {
  .product-section {
    flex-direction: column;
    gap: 10px;
  }

  .image-wrapper {
    width: 100%;
  }
  .image {
    height: 400px;
    width: 1200px;
  }
  .product-image {
    max-width: 100%;
  }

  .product-details {
    text-align: center;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .product-title {
    font-size: 1.5rem;
  }

  .product-description {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .product-container {
    margin: 0; /* Remove margin for extra-small screens */
  }

  .product-section {
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }

  .product-title {
    font-size: 1.4rem;
  }

  .product-description {
    font-size: 0.9rem;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/styles/UpcomingProducts.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
/* Ensure the card and image have uniform sizes .custom-card {
  height: 350px;
  margin: 20px;
}

.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.carousel-item img {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  height: 400;
  width: 1200;
} */

.custom-card {
  margin-bottom: 50px;
}
.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousel-item img {
  max-width: 100%;
  height: 500px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .carousel-image,
  .carousel-item img {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .carousel-image,
  .carousel-item img {
    height: 200px;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/styles/FeatureCard.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.FeatureCard_featureCard__1NxWD {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.FeatureCard_featureCard__1NxWD:hover {
  transform: translateY(-10px);
}

.FeatureCard_featureImage__sMpCV {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.FeatureCard_title__AxOlV {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.FeatureCard_description__ngXgF {
  color: #777;
  font-size: 14px;
}
/* //second ui */
/* .featureCard {
  display: flex;
  align-items: center;
  background-color: #f0f4ff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.featureCard:hover {
  transform: translateY(-3px);
}

.featureImage {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.textContent {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2b2f3b;
}

.description {
  color: #5f6368;
  font-size: 14px;
} */

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/styles/FeatureGrid.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.FeatureGrid_featureGrid__aJgbk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

@media (max-width: 768px) {
  .FeatureGrid_featureGrid__aJgbk {
    grid-template-columns: 1fr;
    padding: 15px;
  }
}

/* //second ui */
/* 
.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
}

@media (max-width: 768px) {
  .featureGrid {
    grid-template-columns: 1fr;
    padding: 15px;
  }
} */

