/* Ensure the card and image have uniform sizes */
.custom-card {
  height: 350px; /* Set a uniform height for all cards */
  margin: 20px;
}

.carousel-image {
  width: 100%;
  height: 400px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensure images maintain aspect ratio */
}
.carousel-item img{
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
}