body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: white;
}

main {
  padding: 2rem;
  /* min-height: 80vh; */
}

footer {
  margin-top: 2rem;
}
.custom-prev .carousel-control-prev-icon {
  background-color: rgb(234, 203, 203);
}

.custom-next .carousel-control-next-icon {
  background-color: rgb(234, 203, 203);
}

li a {
  text-decoration: none;
}
