/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/contact/page.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* styles/page.css */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.contactWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  gap: 50px;
  margin-bottom: 50px;
}

.contactDetails h2 {
  font-size: 36px;
  color: #ff6347;
  margin-bottom: 20px;
}

.contactDetails p {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
}

.contactInfo h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.contactInfo p {
  font-size: 16px;
  color: #666;
}

.contactForm {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contactForm h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff6347;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: #ff6347;
  outline: none;
}

.submitBtn {
  background-color: #ff6347;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #e5533d;
}

.map {
  margin-top: 50px;
}

.map h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

