.slider {
  background: #f0f0f0;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 90%;
}
.image {
  height: 100%;
  width: 100%;
}
.slideTrack {
  display: flex;
  animation: scroll 60s linear infinite;
}

.slide {
  display: inline-block;
  margin-right: 20px;
  height: 100px;
  flex: 0 0 auto;
  width: 250px;
}

@media (max-width: 768px) {
  .slide {
    width: 200px;
  }

  .slider {
    height: 80px;
  }
}

@media (max-width: 480px) {
  .slide {
    width: 150px;
  }
  .image {
    height: 80px;
  }
  .slider {
    height: 80px;
  }
}

/* Update the animation for responsive widths */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-12 * var(--slide-width)));
  }
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}
