.slider {
  background: #f0f0f0;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  white-space: nowrap;

  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 90%;
}

.slideTrack {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s linear infinite;
}

.slide {
  display: inline-block;
  margin-right: 20px;
  height: 100px;
  width: 250px;
  flex: 0 0 auto;
}

.img {
  height: 100%;
  width: auto;
}

.logo {
  width: 150px;
  height: auto;
  mix-blend-mode: multiply;
}

.logo.overlay {
  mix-blend-mode: overlay;
}

.logo.screen {
  mix-blend-mode: screen;
}

.logo.darken {
  mix-blend-mode: darken;
}

.logo.lighten {
  mix-blend-mode: lighten;
}

@media (max-width: 768px) {
  .slide {
    width: 200px;
  }

  .slider {
    height: 80px;
  }
}

@media (max-width: 480px) {
  .slide {
    width: 150px;
  }

  .slider {
    height: 90px;
  }
  .img {
    padding: 10px;
    height: 150px;
    width: 300px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}
