.featureGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 24px 0px 24px 0px;
}
/* styles.css */
.customTitle {
  color: #4a90e2; /* Change to your desired color */
  font-size: 2.5rem; /* Change to your desired font size */
  text-align: center; /* Center text */
}

@media (max-width: 768px) {
  .featureGrid {
    grid-template-columns: 1fr;
    padding: 15px;
  }
}
