.featureGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

@media (max-width: 768px) {
  .featureGrid {
    grid-template-columns: 1fr;
    padding: 15px;
  }
}

/* //second ui */
/* 
.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
}

@media (max-width: 768px) {
  .featureGrid {
    grid-template-columns: 1fr;
    padding: 15px;
  }
} */
