.getInTouch::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.info {
  z-index: 1;
  text-align: left;
  width: 100%;
  padding: 1.2rem;
}

.infoWindow {
  display: flex;
  flex-direction: column;
  border-left: 8px solid white;
  padding: 24px;
  background: rgba(0, 0, 0, 0.4);
}

.title {
  color: white;
  z-index: 1;
  font-size: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
}
.subTitle {
  color: rgb(253, 186, 116);
  font-size: 24px;
  margin-bottom: 0.4rem;
}

.description {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 760px) {
  .info {
    width: 100%;
    padding: 16px;
    align-items: start;
  }
  .infoWindow {
    /* display: none; */
    padding: 0px;
    margin-bottom: 56px;
  }
  .description {
    display: none;
    padding: 10px;
  }
  .subTitle {
    font-size: 12px;
    padding: 8px;
  }
  .title {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
