/* WelcomeCard.module.css */

.main {
  padding: 2rem;
  /* margin-top: 30px; */
  margin-top: -80px;
}
.card {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  box-shadow: none;
}

.image {
  object-fit: fill;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.description {
  margin-top: 16px;
  color: gray;
}

.dividerContainer {
  position: relative;
  width: 90%;
  margin: 30px auto;
  height: 0.5px;
  background-color: gray;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 480px) {
  .main {
    margin-top: -90px;
  }
}
